In [98]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"##last

![](http://edouard-legoupil.github.io/humanitaRian-data-science/slides/assets/img/language.png)

#### data import 
- import csv
- import xlsx
- import text
- import stata
- import matlab

#### data output
- export as csv/text file
- export as excel file
- export as stata/SAS file
- export as matlab file

#### PANDAS and DataFrame

- statistics/econometrics: observation,varible
- machine learning: example, attribute
- Database: record,field

#### import csv

In [102]:
import numpy as np
import pandas as pd
!cat data/ex1.csv

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [110]:
import numpy as np
import pandas as pd
df1=pd.read_csv('data/ex1.csv')
type(df1)

pandas.core.frame.DataFrame

#### import csv

In [ ]:
csv_data=pd.read_csv('data/FTSE_1984_2012.csv')
csv_data.head()
csv_data.values[:4,:2]

In [100]:
!pwd
! cat 'data/ex1.csv'
df2=pd.read_table('data/ex1.csv',sep=',')
df2

/Users/qiangshen/Documents/cloud/Python/course_7
a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

#### import excel: `read_excel` and  `ExcelFile` (xlrd, openpyxl)

In [187]:
FTSE=pd.read_excel('data/FTSE_1984_2012.xls','FTSE_1984_2012')
type(FTSE)

pandas.core.frame.DataFrame

In [186]:
xls_file=pd.ExcelFile('data/FTSE_1984_2012.xls')
table=xls_file.parse('FTSE_1984_2012')

#### import stata: `read_stata`

In [105]:
FTSE=pd.read_stata('data/FTSE_1984_2012.dta')

#### import SAS: `read_sas` (sas7bdat)

In [130]:
##! conda install sas7bdat
from sas7bdat import SAS7BDAT
df = pd.read_sas('data/airline.sas7bdat')

In [131]:
#with SAS7BDAT('data/airline.sas7bdat') as f:
#    for row in f:
#        print(row)

#### import matlab file: `load_mat` (scipy)

In [141]:
import scipy.io as sio
matData=sio.loadmat('data/FTSE_1984_2012.mat')
type(matData)
matData.keys()
matData['open']

dict

dict_keys(['adjclose', 'high', 'close', '__header__', 'volume', '__globals__', '__version__', 'open', 'low'])

array([[ 5899.9],
       [ 5905.7],
       [ 5852.4],
       ...,
       [ 1095.4],
       [ 1095.4],
       [ 1108.1]])

#### import mat V7.3: `open_file` (PyTables)

![](http://i.stack.imgur.com/wCcNd.png)

In [167]:
import tables
matfile=tables.open_file('data/FTSE_1984_2012_v73.mat')
matfile
matfile.root
matfile.root.open
open=matfile.root.open.read()
open
matfile.close()

File(filename=data/FTSE_1984_2012_v73.mat, title='', mode='r', root_uep='/', filters=Filters(complevel=0, shuffle=False, bitshuffle=False, fletcher32=False, least_significant_digit=None))
/ (RootGroup) ''
/adjclose (CArray(1, 7042), zlib(3)) ''
  atom := Float64Atom(shape=(), dflt=0.0)
  maindim := 0
  flavor := 'numpy'
  byteorder := 'little'
  chunkshape := (1, 7042)
/close (CArray(1, 7042), zlib(3)) ''
  atom := Float64Atom(shape=(), dflt=0.0)
  maindim := 0
  flavor := 'numpy'
  byteorder := 'little'
  chunkshape := (1, 7042)
/high (CArray(1, 7042), zlib(3)) ''
  atom := Float64Atom(shape=(), dflt=0.0)
  maindim := 0
  flavor := 'numpy'
  byteorder := 'little'
  chunkshape := (1, 7042)
/low (CArray(1, 7042), zlib(3)) ''
  atom := Float64Atom(shape=(), dflt=0.0)
  maindim := 0
  flavor := 'numpy'
  byteorder := 'little'
  chunkshape := (1, 7042)
/open (CArray(1, 7042), zlib(3)) ''
  atom := Float64Atom(shape=(), dflt=0.0)
  maindim := 0
  flavor := 'numpy'
  byteorder := 'little'
  chunkshape := (1, 7042)
/volume (CArray(1, 7042), zlib(3)) ''
  atom := Float64Atom(shape=(), dflt=0.0)
  maindim := 0
  flavor := 'numpy'
  byteorder := 'little'
  chunkshape := (1, 7042)

/ (RootGroup) ''
  children := ['adjclose' (CArray), 'high' (CArray), 'close' (CArray), 'volume' (CArray), 'open' (CArray), 'low' (CArray)]

/open (CArray(1, 7042), zlib(3)) ''
  atom := Float64Atom(shape=(), dflt=0.0)
  maindim := 0
  flavor := 'numpy'
  byteorder := 'little'
  chunkshape := (1, 7042)

#### read_csv: variable name

In [ ]:
!cat data/ex2.csv

In [ ]:
pd.read_csv('data/ex2.csv',header=None)

In [ ]:
pd.read_csv('data/ex2.csv',names=['a','b','c','d','message'])

In [ ]:
names=['a','b','c','d','message']
pd.read_csv('data/ex2.csv',names=names,index_col='message')

In [ ]:
pd.read_csv('data/ex1.csv',index_col='message')

#### read_csv: index column

In [ ]:
!cat data/csv_mindex.csv
pd.read_csv('data/csv_mindex.csv',index_col=['key1','key2'])

In [ ]:
!cat 'data/ex3.txt'
##data1=list(open('data/ex3.txt'))

#### read_csv: separation

In [ ]:
pd.read_table('data/ex3.txt',sep='\s+')

#### read_csv: skip rows

In [ ]:
!cat 'data/ex4.csv'

In [ ]:
pd.read_csv('data/ex4.csv',skiprows=[0,2,3])

In [170]:
!cat 'data/ex5.csv'

something,a,b,c,d,message
one,1,2,3,4,NA
two,5,6,,8,world
three,9,10,11,12,foo

#### read_csv: missing values

In [171]:
result=pd.read_csv('data/ex5.csv')
result
pd.isnull(result)

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False

#### read_csv: missing values

In [ ]:
sentinels={'message':['foo'],'something':['two']}
pd.read_csv('data/ex5.csv',na_values=sentinels)

In [ ]:
result=pd.read_csv('data/ex6.csv')

In [ ]:
result=pd.read_csv('data/ex5.csv',na_values=['two','foo'])
result

In [ ]:
result=pd.read_csv('data/ex6.csv')
result.head()

In [169]:
result=pd.read_csv('data/ex6.csv',nrows=5)
result

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

In [ ]:
import pandas as pd
df = pd.DataFrame(data=np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]), columns=['A', 'B', 'C'])
df2 = pd.DataFrame(data=np.array([[9, 8, 7], [6, 5, 4], [3, 2, 1]]), columns=['D', 'E', 'F'])
df2

#### data output
- export as csv file
- export as text file
- export as excel file
- export as stata file
- export as matlab file

#### Csv: `to_csv`

In [ ]:
df.to_csv('myDataFrame1.csv')#### data output

In [ ]:
df.to_csv('myDataFrame2.csv', sep='\t')

In [ ]:
df.to_csv('myDataFrame3.csv',index=False)

#### Txt: `to_csv`

In [173]:
df.to_csv('myDataFrame.txt',index=False)

In [182]:
x=np.random.randn(10,10)
np.savetxt('tabs.txt',x)

np.savetxt('commas.csv',x,delimiter=',')
xData=np.loadtxt('commas.csv',delimiter=',')

#### Excel:  `to_excel`

In [ ]:
import pandas as pd
writer = pd.ExcelWriter('myDataFrame.xlsx')
df.to_excel(writer, 'DataFrame')
writer.save()

In [ ]:
import pandas as pd
writer = pd.ExcelWriter('myDataFrame2.xlsx')
df.to_excel(writer, 'DataFrame',index=False)
writer.save()

#### Excel:  `to_excel`

In [ ]:
import pandas as pd
writer = pd.ExcelWriter('myDataFrame3.xlsx')
df.to_excel(writer, 'sheet1',index=False)
df2.to_excel(writer,'sheet2',index=False)
writer.save()

#### Stata:  `to_stata`

In [ ]:
writer = df.to_stata('myDataFrame.dta')
writer = df.to_stata('myDataFrame2.dta',write_index=False)

#### Matlab:  `savemat`

In [ ]:
import scipy.io as sio
x=np.array([1.0,2,3])
y=np.zeros((10,10))
saveData={'x':x,'y':y}
sio.savemat('test1',saveData)
matData=sio.loadmat('test.mat')
matData

#### data output
- export as csv file: `to_csv`
- export as text file: `to_csv`
- export as excel file: `to_excel`
- export as stata file: `to_stata` 
- export as matlab file: `savemat`

In [189]:
import requests
from pprint import pprint
url = 'https://api.github.com/users/justglowing'
r = requests.get(url)
json_obj = r.json()
pprint(json_obj)

{'avatar_url': 'https://avatars2.githubusercontent.com/u/4929177?v=4',
 'bio': 'Data Scientist, teaching fellow, Python enthusiast, fearless '
        'visionarist, lateral thinker.',
 'blog': 'http://glowingpython.blogspot.com/',
 'company': None,
 'created_at': '2013-07-03T10:07:22Z',
 'email': None,
 'events_url': 'https://api.github.com/users/JustGlowing/events{/privacy}',
 'followers': 20,
 'followers_url': 'https://api.github.com/users/JustGlowing/followers',
 'following': 3,
 'following_url': 'https://api.github.com/users/JustGlowing/following{/other_user}',
 'gists_url': 'https://api.github.com/users/JustGlowing/gists{/gist_id}',
 'gravatar_id': '',
 'hireable': None,
 'html_url': 'https://github.com/JustGlowing',
 'id': 4929177,
 'location': 'Cambridge, UK',
 'login': 'JustGlowing',
 'name': 'Giuseppe Vettigli',
 'organizations_url': 'https://api.github.com/users/JustGlowing/orgs',
 'public_gists': 5,
 'public_repos': 7,
 'received_events_url': 'https://api.github.com/users/JustGlowing/received_events',
 'repos_url': 'https://api.github.com/users/JustGlowing/repos',
 'site_admin': False,
 'starred_url': 'https://api.github.com/users/JustGlowing/starred{/owner}{/repo}',
 'subscriptions_url': 'https://api.github.com/users/JustGlowing/subscriptions',
 'type': 'User',
 'updated_at': '2017-11-06T13:25:17Z',
 'url': 'https://api.github.com/users/JustGlowing'}

In [191]:
df_json = pd.read_json('test.json' )

ValueError: Unexpected character found when decoding 'true'