#### 数据导入
- import cs
- import xlsx
- import stata
- import matlab

In [6]:
! pwd
import pandas as pd

/Users/qiangshen/Desktop/import output

In [7]:
!cat ex1.csv

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [8]:
df1 =pd.read_csv('ex1.csv')

In [9]:
df1

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [10]:
df2 =pd.read_table('ex1.csv',sep=',')

In [11]:
df2

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [15]:
!cat ex2.csv

1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [16]:
df1 =pd.read_csv('ex1.csv',header=None)

In [17]:
df1 =pd.read_csv('ex2.csv',names=['a','b','c','d','message'])

In [18]:
df1

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [19]:
nam=['a','b','c','d','message']

In [20]:
df1 =pd.read_csv('ex2.csv',names=nam,index_col='message')

In [21]:
df1

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [22]:
import xlrd

In [25]:
import openpyxl

In [24]:
xls_file=pd.ExcelFile('ex1.xlsx')
xls_file.sheet_names
table=xls_file.parse('Sheet1')
table

FileNotFoundError: [Errno 2] No such file or directory: 'ex1.xlsx'

In [46]:
df = pd.read_stata('ex1.dta')

In [47]:
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [53]:
import scipy.io
filename='data1.mat'
mat=scipy.io.loadmat(filename)
type(mat)
mat['rfp']

dict

array([[   0.        ,    0.        ,    0.        , ...,  224.17652959,
         224.1371134 ,  225.05010225],
       [   0.        ,    0.        ,    0.        , ...,  209.54417414,
         209.52624672,  209.80976864],
       [   0.        ,    0.        ,    0.        , ...,  218.42857143,
         218.05844156,  218.52631579],
       ...,
       [   0.        ,    0.        ,    0.        , ...,  215.91012839,
         216.16571429,  216.35744681],
       [   0.        ,    0.        ,    0.        , ...,  209.97283312,
         210.18170103,  210.33462033],
       [   0.        ,    0.        ,    0.        , ...,  215.91012839,
         216.16571429,  216.35744681]])