In [5]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"##last

![](http://edouard-legoupil.github.io/humanitaRian-data-science/slides/assets/img/language.png)

#### data import 
- import csv
- import xlsx
- import stata/SAS
- import matlab

#### data output
- export as csv/text file
- export as excel file
- export as stata file
- export as matlab file

#### PANDAS and DataFrame

- statistics/econometrics: observation,variable
- machine learning: example, attribute
- Database: record,field

#### import csv

In [2]:
import numpy as np
import pandas as pd
!cat data/ex1.csv

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [ ]:
df1=pd.read_csv('data/ex1.csv')
type(df1)

#### import csv

In [6]:
csv_data=pd.read_csv('data/FTSE_1984_2012.csv')
csv_data.head()
csv_data.values[:4,:2]

         Date    Open    High     Low   Close     Volume  Adj Close
0  2012-02-15  5899.9  5923.8  5880.6  5892.2  801550000     5892.2
1  2012-02-14  5905.7  5920.6  5877.2  5899.9  832567200     5899.9
2  2012-02-13  5852.4  5920.1  5852.4  5905.7  643543000     5905.7
3  2012-02-10  5895.5  5895.5  5839.9  5852.4  948790200     5852.4
4  2012-02-09  5875.9  5916.3  5870.5  5895.5  973462200     5895.5

array([['2012-02-15', 5899.9],
       ['2012-02-14', 5905.7],
       ['2012-02-13', 5852.4],
       ['2012-02-10', 5895.5]], dtype=object)

In [ ]:
!pwd
! cat 'data/ex1.csv'
df2=pd.read_table('data/ex1.csv',sep=',')
df2

#### import excel: `read_excel` and  `ExcelFile` (xlrd, openpyxl)

In [1]:
FTSE=pd.read_excel('data/FTSE_1984_2012.xls','FTSE_1984_2012')
FTSE.head()

NameError: name 'pd' is not defined

In [8]:
xls_file=pd.ExcelFile('data/FTSE_1984_2012.xls')
table=xls_file.parse('FTSE_1984_2012')

#### import stata: `read_stata`

In [ ]:
FTSE=pd.read_stata('data/FTSE_1984_2012.dta')
FTSE.head()

#### import SAS: `read_sas` (sas7bdat)

In [4]:
##! conda install sas7bdat
##from sas7bdat import SAS7BDAT
import pandas as pd
df = pd.read_sas('data/airline.sas7bdat')
df.head()

     YEAR      Y      W       R      L      K
0  1948.0  1.214  0.243  0.1454  1.415  0.612
1  1949.0  1.354  0.260  0.2181  1.384  0.559
2  1950.0  1.569  0.278  0.3157  1.388  0.573
3  1951.0  1.948  0.297  0.3940  1.550  0.564
4  1952.0  2.265  0.310  0.3559  1.802  0.574

In [ ]:
##import savReaderWriter
##mydata_spss = savReaderWriter.SavReader('employee_data.sav')
##mydata_spss

In [ ]:
#with SAS7BDAT('data/airline.sas7bdat') as f:
#    for row in f:
#        print(row)

#### import matlab file: `load_mat` (scipy)

In [ ]:
import scipy.io as sio
matData=sio.loadmat('data/FTSE_1984_2012.mat')
type(matData)
matData.keys()
matData['open']

#### import mat V7.3: `open_file` (PyTables)

![](http://i.stack.imgur.com/wCcNd.png)

#### import mat V7.3: `open_file` (PyTables)

In [ ]:
import tables
matfile=tables.open_file('data/FTSE_1984_2012_v73.mat')
matfile
matfile.root
matfile.root.open
open=matfile.root.open.read()
open
matfile.close()

#### data import 
- import **csv**
- import xlsx
- import stata/SAS
- import matlab

#### read_csv: variable name

In [3]:
!cat data/ex2.csv

1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [4]:
pd.read_csv('data/ex2.csv',header=None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [5]:
%who

FTSE	 np	 pd

#### read_csv: variable name

In [6]:
pd.read_csv('data/ex2.csv',names=['a','b','c','d','message'])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

#### read_csv: index column

In [7]:
names=['a','b','c','d','message']
pd.read_csv('data/ex2.csv',names=names,index_col='message')

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [8]:
pd.read_csv('data/ex1.csv',index_col='message')

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [14]:
!cat data/csv_mindex.csv
a = pd.read_csv('data/csv_mindex.csv',index_col=['key1','key2'])

key1,key2,value1,value2
one,a,1,2
one,b,3,4
one,c,5,6
one,d,7,8
two,a,9,10
two,b,11,12
two,c,13,14
two,d,15,16

In [15]:
?zip

#### read_csv: separation

In [17]:
!cat 'data/ex3.txt'
##data1=list(open('data/ex3.txt'))

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [16]:
pd.read_table('data/ex3.txt',sep='\s+')

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

#### read_csv: skip rows

In [18]:
!cat 'data/ex4.csv'

# hey!
a,b,c,d,message
# just wanted to make things more difficult for you
# who reads CSV files with computers, anyway?
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [19]:
pd.read_csv('data/ex4.csv',skiprows=[0,2,3])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

#### read_csv: missing values :NA, -1.#IND, NULL

In [ ]:
!cat 'data/ex5.csv'

In [20]:
result=pd.read_csv('data/ex5.csv')
result
pd.isnull(result)

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False

#### read_csv: missing values

In [21]:
#任意指定缺失值
sentinels={'message':['foo'],'something':['two']}
pd.read_csv('data/ex5.csv',na_values=sentinels)

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       NaN  5   6   NaN   8   world
2     three  9  10  11.0  12     NaN

In [ ]:
result=pd.read_csv('data/ex5.csv',na_values=['two','foo'])
result

In [26]:
result=pd.read_csv('data/ex6.csv')

#### `read.csv`: rows selection

In [ ]:
#when you perform pd.read_csv,it's easy for you to appoint the nrows number only if you like.
result=pd.read_csv('data/ex6.csv',nrows=5)
result

#### `read_csv`
- variable name
- separation
- skip rows
- column index
- missing
- observation selection

#### data output
- export as csv file
- export as text file
- export as excel file
- export as stata file
- export as matlab file

In [ ]:
import pandas as pd
df = pd.DataFrame(data=np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]), columns=['A', 'B', 'C'])
df2 = pd.DataFrame(data=np.array([[9, 8, 7], [6, 5, 4], [3, 2, 1]]), columns=['D', 'E', 'F'])
df2

#### Csv: `to_csv`

In [ ]:
df.to_csv('myDataFrame1.csv')#### data output

In [ ]:
df.to_csv('myDataFrame2.csv', sep='\t')

In [ ]:
df.to_csv('myDataFrame3.csv',index=False)

#### Txt: `to_csv` and `savetxt`

In [ ]:
df.to_csv('myDataFrame.txt',index=False)

In [ ]:
x=np.random.randn(10,10)
np.savetxt('tabs.txt',x)
np.savetxt('commas.csv',x,delimiter=',')
xData=np.loadtxt('commas.csv',delimiter=',')

#### Excel:  `to_excel`

In [ ]:
import pandas as pd
writer = pd.ExcelWriter('myDataFrame.xlsx')
df.to_excel(writer, 'DataFrame')
writer.save()

In [ ]:
import pandas as pd
writer = pd.ExcelWriter('myDataFrame2.xlsx')
df.to_excel(writer, 'DataFrame',index=False)
writer.save()

#### Excel:  `to_excel`

In [ ]:
import pandas as pd
writer = pd.ExcelWriter('myDataFrame3.xlsx')
df.to_excel(writer, 'sheet1',index=False)
df2.to_excel(writer,'sheet2',index=False)
writer.save()

#### Stata:  `to_stata`

In [ ]:
writer = df.to_stata('myDataFrame.dta')
writer = df.to_stata('myDataFrame2.dta',write_index=False)

#### Matlab:  `savemat`

In [ ]:
import scipy.io as sio
x=np.array([1.0,2,3])
y=np.zeros((10,10))
saveData={'x':x,'y':y}
sio.savemat('test1',saveData)
matData=sio.loadmat('test.mat')
matData

#### data output
- export as csv file: `to_csv`
- export as text file: `to_csv`
- export as excel file: `to_excel`
- export as stata file: `to_stata` 
- export as matlab file: `savemat`

- data import 
- data output

import requests
from pprint import pprint
url = 'https://api.github.com/users/justglowing'
r = requests.get(url)
json_obj = r.json()
pprint(json_obj)

In [ ]:
df_json = pd.read_json('test.json' )