#### 数据导入
- import csv
- import xlsx
- import stata
- import matlab

In [43]:
! pwd
import pandas as pd

/Users/qiangshen/Desktop/import output

In [44]:
!cat ex1.csv

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [47]:
import os
os.getcwd()
csv_data=pd.read_csv('FTSE_1984_2012.csv')
csv_data=

            Date    Open    High     Low   Close      Volume  Adj Close
0     2012-02-15  5899.9  5923.8  5880.6  5892.2   801550000     5892.2
1     2012-02-14  5905.7  5920.6  5877.2  5899.9   832567200     5899.9
2     2012-02-13  5852.4  5920.1  5852.4  5905.7   643543000     5905.7
3     2012-02-10  5895.5  5895.5  5839.9  5852.4   948790200     5852.4
4     2012-02-09  5875.9  5916.3  5870.5  5895.5   973462200     5895.5
5     2012-02-08  5890.3  5916.2  5871.3  5875.9   809267800     5875.9
6     2012-02-07  5892.2  5906.6  5850.5  5890.3   785340600     5890.3
7     2012-02-06  5901.1  5901.1  5863.5  5892.2   828464600     5892.2
8     2012-02-03  5796.1  5901.1  5784.2  5901.1  1156774100     5901.1
9     2012-02-02  5790.7  5809.8  5765.7  5796.1   971388400     5796.1
10    2012-02-01  5681.6  5790.7  5680.7  5790.7   989847000     5790.7
11    2012-01-31  5671.1  5730.3  5671.1  5681.6  1018319000     5681.6
12    2012-01-30  5733.5  5733.5  5651.6  5671.1   778100000     5671.1
13    2012-01-27  5795.2  5795.2  5729.0  5733.5   790045200     5733.5
14    2012-01-26  5723.0  5806.2  5722.8  5795.2   874328800     5795.2
15    2012-01-25  5751.9  5777.7  5694.0  5723.0   884691000     5723.0
16    2012-01-24  5782.6  5782.6  5719.9  5751.9   916504800     5751.9
17    2012-01-23  5728.5  5789.9  5723.1  5782.6   852459600     5782.6
18    2012-01-20  5741.1  5749.8  5721.6  5728.5  1315166100     5728.5
19    2012-01-19  5702.4  5743.9  5693.2  5741.1  1404442300     5741.1
20    2012-01-18  5694.0  5709.9  5647.9  5702.4   792321000     5702.4
21    2012-01-17  5657.4  5724.4  5657.4  5694.0  1232187200     5694.0
22    2012-01-16  5636.6  5662.9  5609.9  5657.4   672823000     5657.4
23    2012-01-13  5662.4  5709.2  5583.5  5636.6  1318584300     5636.6
24    2012-01-12  5670.8  5699.6  5640.3  5662.4  1383932300     5662.4
25    2012-01-11  5696.7  5700.8  5644.8  5670.8   894220800     5670.8
26    2012-01-10  5612.3  5711.9  5612.3  5696.7   865034400     5696.7
27    2012-01-09  5649.7  5673.8  5604.6  5612.3   788891400     5612.3
28    2012-01-06  5624.3  5682.8  5623.4  5649.7   705018000     5649.7
29    2012-01-05  5668.5  5689.3  5614.4  5624.3   794279400     5624.3
...          ...     ...     ...     ...     ...         ...        ...
7012  1984-05-16  1101.9  1104.2  1101.8  1104.1           0     1104.1
7013  1984-05-15  1083.6  1093.5  1083.6  1093.5           0     1093.5
7014  1984-05-14  1073.3  1083.0  1073.3  1082.5           0     1082.5
7015  1984-05-11  1088.7  1089.0  1075.8  1076.1           0     1076.1
7016  1984-05-10  1101.3  1101.3  1093.5  1094.6           0     1094.6
7017  1984-05-09  1119.7  1120.5  1111.0  1111.3           0     1111.3
7018  1984-05-08  1126.9  1126.9  1115.9  1117.8           0     1117.8
7019  1984-05-04  1135.4  1135.8  1133.5  1134.7           0     1134.7
7020  1984-05-03  1137.7  1142.8  1137.4  1142.2           0     1142.2
7021  1984-05-01  1136.8  1136.8  1136.8  1136.8           0     1136.8
7022  1984-04-30  1138.3  1138.3  1138.3  1138.3           0     1138.3
7023  1984-04-26  1130.9  1130.9  1130.9  1130.9           0     1130.9
7024  1984-04-25  1119.8  1119.8  1119.8  1119.8           0     1119.8
7025  1984-04-24  1105.4  1105.4  1105.4  1105.4           0     1105.4
7026  1984-04-23  1108.4  1108.4  1108.4  1108.4           0     1108.4
7027  1984-04-20  1116.2  1116.2  1116.2  1116.2           0     1116.2
7028  1984-04-19  1116.2  1116.2  1116.2  1116.2           0     1116.2
7029  1984-04-18  1116.2  1116.2  1116.2  1116.2           0     1116.2
7030  1984-04-17  1110.2  1110.2  1110.2  1110.2           0     1110.2
7031  1984-04-16  1105.6  1105.6  1105.6  1105.6           0     1105.6
7032  1984-04-13  1129.1  1129.1  1129.1  1129.1           0     1129.1
7033  1984-04-12  1129.1  1129.1  1129.1  1129.1           0     1129.1
7034  1984-04-11  1110.6  1110.6  1110.6  1110.6           0     1110.6
7035  1984-04-10  1105.4  1105.4  1105.4  1105.4           0     1105.4
7036  1984-04-09  1096.7  1096.7  1096.7  1096.7           0     1096.7
7037  1984-04-06  1096.3  1096.3  1096.3  1096.3           0     1096.3
7038  1984-04-05  1102.2  1102.2  1102.2  1102.2           0     1102.2
7039  1984-04-04  1095.4  1095.4  1095.4  1095.4           0     1095.4
7040  1984-04-03  1095.4  1095.4  1095.4  1095.4           0     1095.4
7041  1984-04-02  1108.1  1108.1  1108.1  1108.1           0     1108.1

[7042 rows x 7 columns]

In [8]:
df1 =pd.read_csv('ex1.csv')

In [9]:
df1

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [10]:
df2 =pd.read_table('ex1.csv',sep=',')

In [11]:
df2

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [15]:
!cat ex2.csv

1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [16]:
df1 =pd.read_csv('ex1.csv',header=None)

In [17]:
df1 =pd.read_csv('ex2.csv',names=['a','b','c','d','message'])

In [29]:
from pandas import read_excel

In [36]:
excel_data=read_excel('FTSE_1984_2012.xlsx','FTSE_1984_2012')
excel_data=excel_data.values
excel_data[:4,:2]

array([[Timestamp('2012-02-15 00:00:00'), 5899.9],
       [Timestamp('2012-02-14 00:00:00'), 5905.7],
       [Timestamp('2012-02-13 00:00:00'), 5852.4],
       [Timestamp('2012-02-10 00:00:00'), 5895.5]], dtype=object)

In [18]:
df1

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [19]:
nam=['a','b','c','d','message']

In [20]:
df1 =pd.read_csv('ex2.csv',names=nam,index_col='message')

In [21]:
df1

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [22]:
import xlrd

In [25]:
import openpyxl

In [26]:
xls_file=pd.ExcelFile('ex1.xlsx')
xls_file.sheet_names
table=xls_file.parse('Sheet1')
table

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [27]:
df = pd.read_stata('ex1.dta')

In [47]:
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [28]:
import scipy.io
filename='data1.mat'
mat=scipy.io.loadmat(filename)
type(mat)
mat['rfp']

array([[   0.        ,    0.        ,    0.        , ...,  224.17652959,
         224.1371134 ,  225.05010225],
       [   0.        ,    0.        ,    0.        , ...,  209.54417414,
         209.52624672,  209.80976864],
       [   0.        ,    0.        ,    0.        , ...,  218.42857143,
         218.05844156,  218.52631579],
       ...,
       [   0.        ,    0.        ,    0.        , ...,  215.91012839,
         216.16571429,  216.35744681],
       [   0.        ,    0.        ,    0.        , ...,  209.97283312,
         210.18170103,  210.33462033],
       [   0.        ,    0.        ,    0.        , ...,  215.91012839,
         216.16571429,  216.35744681]])