<hr>
# Jupynotebook使用简介

<img src="https://static1.squarespace.com/static/549dcda5e4b0a47d0ae1db1e/t/599cd77315d5dbedc71807fd/1503451017341/jupyter-sq-text.png"
style="width:90px;height:100px;float:middle">


# Python安装和基础

- 数据科学简介
- python简介
- python vs. R
- anaconda安装
- **Jupyter简介**
- Unix bash命令基础

### interactive computing: Jupyter

- IPython:  Iteractive Python shell（Fernando Pérez, 2001, Advancement of Free Software award, 2013）

- 生成文件.ipynb 

- Jupyter: JUlia, PYThon, and R and is inspired by the planet Jupiter.（spin-off of ipython, 2014）

- nbviewer:（jupyter）notebook viewer:用于渲染jupyter html, pdf

- jupyterhub:  类似于git和Github

![](https://upload.wikimedia.org/wikipedia/commons/c/cc/IPython_Notebook_Workflows.png)

  Launch Jupyter
- 1. from anaconda launcher menu

- 2. shell command: `jupyter notebook`

Two formats
- Markdown (M)
- Code (Y)

Two modes

- command mode (Esc)
- edit mode (Enter)

### IPython与Jupyter小贴士

#### 1. 快捷键

 command mode (Esc) vs. edit mode (Enter or mouse click)

Run the cells: Shift+Enter,Ctrl+Enter

Insert (A and B), Delete (D+D) cell and undo the deletion (Z)

Merge (Shift+down,Shift+M) and Split (Ctrl + Shift + -) cell

Cut (X) and Paste (V,Shift+V)

#### 2. 显示输出结果设置

In [4]:
a=5
b=2
a;b

5

2

In [3]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"##last

In [8]:
! pip install pydataset

Collecting pydataset
  Using cached pydataset-0.2.0.tar.gz
Requirement already satisfied: pandas in /anaconda/lib/python3.5/site-packages (from pydataset)
Requirement already satisfied: python-dateutil>=2 in /anaconda/lib/python3.5/site-packages (from pandas->pydataset)
Requirement already satisfied: pytz>=2011k in /anaconda/lib/python3.5/site-packages (from pandas->pydataset)
Requirement already satisfied: numpy>=1.7.0 in /anaconda/lib/python3.5/site-packages (from pandas->pydataset)
Requirement already satisfied: six>=1.5 in /anaconda/lib/python3.5/site-packages (from python-dateutil>=2->pandas->pydataset)
Building wheels for collected packages: pydataset
  Running setup.py bdist_wheel for pydataset ... done
  Stored in directory: /Users/qiangshen/Library/Caches/pip/wheels/63/f1/30/3a505c044a7e048d5c517323479e95d1a4014deca55e1303bc
Successfully built pydataset
Installing collected packages: pydataset
Successfully installed pydataset-0.2.0

In [5]:
from pydataset import data
titanic = data('titanic')

In [10]:
titanic.head()
titanic.tail()

       class     age  sex survived
1  1st class  adults  man      yes
2  1st class  adults  man      yes
3  1st class  adults  man      yes
4  1st class  adults  man      yes
5  1st class  adults  man      yes

          class    age    sex survived
1312  3rd class  child  women       no
1313  3rd class  child  women       no
1314  3rd class  child  women       no
1315  3rd class  child  women       no
1316  3rd class  child  women       no

#### 3. 查看系统信息

In [11]:
import sys
sys.version
! python -V

'3.5.4 |Anaconda custom (x86_64)| (default, Aug 14 2017, 12:43:10) \n[GCC 4.2.1 Compatible Apple LLVM 6.0 (clang-600.0.57)]'

Python 3.5.4 :: Anaconda custom (x86_64)

#### 4. 支持Markdown和Latex （MathJax）

**功能强大的**  *Markdown*

- Markdown is a lightweight markup language with plain text formatting syntax.
- It is designed so that it can be converted to HTML and many other formats using a tool by the same name
- developed by Aaron Swartz and John Gruber in 2004
- for example: 简书、RMarkdown in Rstudio

**This is bold text**

![figure](markdown.png)

![](https://upload.wikimedia.org/wikipedia/commons/thumb/6/64/John_Gruber%2C_2009_%28cropped%29.jpg/220px-John_Gruber%2C_2009_%28cropped%29.jpg)

<http://jupyter-notebook.readthedocs.io/en/latest/examples/Notebook/Working%20With%20Markdown%20Cells.html>


$$ P(A \mid B) = \frac{P(B \mid A) \, P(A)}{P(B)} $$

$$ \int_0^{+\infty} x^2 dx $$

#### 5. 内存里面的加载的库与变量

In [7]:
a='1'
b= 2
c= 'love'
%who

InteractiveShell	 a	 b	 c	 data	 titanic

#### 6. 执行外部.py命令

In [11]:
## 执行外部文件
! python /Users/qiangshen/Documents/cloud/Python/course_2/code/my.py

hello world!

#### 7. 导入外部文件信息

In [ ]:
# %load code/mydemo.py

import numpy
def append_if_not_exists(arr, x):
    if x not in arr:
        arr.append(x)
        
def some_useless_slow_function():
    arr = list()
    for i in range(10000):
        x = numpy.random.randint(0, 10000)
        append_if_not_exists(arr, x)

In [13]:
%pycat code/mydemo.py

#### 8. 导出.py文件

In [14]:
%%writefile code/myoutput.py

import numpy
def append_if_not_exists(arr, x):
    if x not in arr:
        arr.append(x)
        
def some_useless_slow_function():
    arr = list()
    for i in range(10000):
        x = numpy.random.randint(0, 10000)
        append_if_not_exists(arr, x)

Writing code/myoutput.py

#### 9. 查看运行时间

In [18]:
import numpy
%time numpy.random.normal(size=100)

CPU times: user 142 µs, sys: 68 µs, total: 210 µs
Wall time: 197 µs

array([ 0.39666257,  0.45444083,  0.11632132,  0.05057555, -1.07524637,
       -1.88841005, -0.45960086,  0.34789915, -1.83486574,  0.86357907,
       -1.45171876, -0.20956048, -1.68208861, -0.5879521 ,  0.27021292,
        0.01336875,  0.76815884, -1.35852973, -0.21198244, -1.39571794,
        0.82428491,  0.03025373, -0.48917636,  1.08166643,  1.71910523,
       -0.13912277,  0.15127551,  0.05783839, -0.29732353, -0.84057988,
        0.01134588,  1.10427894,  1.53211477, -0.67269258,  0.18620986,
        0.24823178, -0.29152977, -0.00398213, -0.30381923,  0.50043224,
       -1.07737322, -1.2648454 , -0.50483907, -1.62900532,  0.069433  ,
       -1.1488151 , -0.38752795,  1.22802195, -0.26781771, -0.32025271,
        1.16976342,  0.47366496,  0.196867  ,  0.070519  , -1.02445298,
       -0.15236348, -0.50599777,  0.83292796, -0.27484377,  1.02587652,
        2.64360639,  1.21236379, -0.07575171,  0.92243489,  0.63540287,
        0.12866413, -1.23645401,  0.51392669,  1.23523044, -2.06862451,
       -1.99114588, -0.68936858,  2.09290456,  0.48395288, -0.10410281,
        1.06058557,  1.12246968, -1.80000611,  0.35742733, -0.07353001,
       -0.10537405,  0.68213228, -0.80837829, -0.1607796 , -0.13698743,
       -0.43279209,  0.8492443 , -0.60166813, -0.31257888,  0.4958017 ,
       -0.53096606, -0.59116535, -1.15812279,  0.26319456, -1.33758392,
       -0.12309037, -0.55526521, -0.32256546, -0.47817696, -0.41432309])

####  10. 执行其他kernal

In [17]:
%%python2
print 'a'

a

In [19]:
%%bash
for i in {1..5}
do
   echo "i is $i"
done

i is 1
i is 2
i is 3
i is 4
i is 5

### R vs. Python

In [20]:
import os
print (os.getcwd())
os.chdir('/Users/qiangshen/desktop/')
print (os.getcwd())
%who

/Users/qiangshen/Documents/cloud/Python/course_2
/Users/qiangshen/Desktop
InteractiveShell	 a	 b	 c	 data	 os	 titanic

In [31]:
%load_ext rpy2.ipython
%R setwd('~')
%R head(iris)

The rpy2.ipython extension is already loaded. To reload it, use:
  %reload_ext rpy2.ipython

array(['/Users/qiangshen'],
      dtype='<U16')

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa
4           4.6          3.1           1.5          0.2  setosa
5           5.0          3.6           1.4          0.2  setosa
6           5.4          3.9           1.7          0.4  setosa

In [40]:
import os
os.chdir('/Users/qiangshen/desktop')
os.getcwd()
os.listdir()

['.com.google.Chrome.9STsRB',
 '.com.google.Chrome.EhwymE',
 '.com.google.Chrome.mhLrlW',
 '.com.google.Chrome.XydKHg',
 '.DS_Store',
 '.ipynb_checkpoints',
 '.localized',
 '2 Data Retrieval and Represent.pdf',
 '_8de230fbd48ce0d921f3889501785a32_1.1-Walk-into-Python.pdf',
 'basic_example.py',
 'book.txt',
 'book2.txt',
 'companies.txt',
 'companies2.txt',
 'econwp244.pdf',
 'figs',
 'Head.First.Python（中文版）.pdf',
 'helloworld.py',
 'index (1).mp4',
 'index (4).mp4',
 'index (5).mp4',
 'index.mp4',
 'intermediate python.pdf',
 'loss_aversion_others',
 'MPL_May2017.pdf',
 'python and data analysis',
 'SSRN-id3023640.pdf',
 'subtitle.txt',
 'temp.py',
 'temp_data',
 'test.txt',
 'test1.txt',
 'test2.txt',
 'Untitled.ipynb',
 'voice',
 'votes.txt']

In [47]:
%reset -f
%who
a=1;b=2
%who

Interactive namespace is empty.
a	 b

In [48]:
%who

b

R python基础命令列表(spyder)

| language | files in WD   | clear memory | clear console  | list variables  |  pwd|  cd|
|:------:|:------:|:------:|:------:|:------:|:------:|:------:|
|     R  |   list.files()|  rm(list=ls())|  Ctrl+L|ls()|  getwd() |  setwd()|
|   python  | os.listdir(os.curdir) |  %reset -f/del x|  clear| %who(s) |  os.getcwd()|  os.chdir()|
|   Linux  | ls | NA |  Ctrl+L| NA |  pwd|  cd|

In [25]:
%who

Interactive namespace is empty.


# Python安装和基础

- 数据科学简介
- python简介
- python vs. R
- anaconda安装
- Jupyter简介
- **Unix bash命令基础**

### 熟练掌握Unix命令：shell commands

### unix bash命令

In [1]:
cat /etc/shells

# List of acceptable shells for chpass(1).
# Ftpd will not allow users to connect who are not using
# one of these shells.

/bin/bash
/bin/csh
/bin/ksh
/bin/sh
/bin/tcsh
/bin/zsh

In [15]:
# -*- coding: utf-8 -*-
! ls
temp = ! ls
print(temp)

figs                     python and data analysis
loss_aversion_others     voice
['figs', 'loss_aversion_others', 'python and data analysis', 'voice']

In [16]:
! pwd
! cd "~/desktop/example"
! pwd
! ls

/Users/qiangshen/Desktop
/bin/sh: line 0: cd: ~/desktop/example: No such file or directory
/Users/qiangshen/Desktop
figs                     python and data analysis
loss_aversion_others     voice

In [17]:
import os
os.chdir('/Users/qiangshen/Desktop/')

In [18]:
! ls
! mkdir temp
! ls
! rmdir temp
! ls
! touch temp.txt
! ls
! rm temp.txt
!ls

figs                     python and data analysis
loss_aversion_others     voice
figs                     python and data analysis voice
loss_aversion_others     temp
figs                     python and data analysis
loss_aversion_others     voice
figs                     python and data analysis voice
loss_aversion_others     temp.txt
figs                     python and data analysis
loss_aversion_others     voice

支持ASCII码

In [19]:
### unix bash命令
# -*- coding: utf-8 -*-
! ls
temp = ! ls
print(temp)

! pwd
! cd "~/desktop/example"
! pwd
! ls

figs                     python and data analysis
loss_aversion_others     voice
['figs', 'loss_aversion_others', 'python and data analysis', 'voice']
/Users/qiangshen/Desktop
/bin/sh: line 0: cd: ~/desktop/example: No such file or directory
/Users/qiangshen/Desktop
figs                     python and data analysis
loss_aversion_others     voice

In [23]:
### 熟练掌握Linux命令：shell commands 

import os
os.chdir('/Users/qiangshen/Desktop/')
! ls
filenames = ! ls
filenames

! ls
! mkdir temp
! ls
! rmdir temp
! ls
! touch temp.txt
! ls
! rm temp.txt
!ls

figs                     python and data analysis
loss_aversion_others     voice
figs                     python and data analysis
loss_aversion_others     voice
figs                     python and data analysis voice
loss_aversion_others     temp
figs                     python and data analysis
loss_aversion_others     voice
figs                     python and data analysis voice
loss_aversion_others     temp.txt
figs                     python and data analysis
loss_aversion_others     voice

# 练习模块
- anaonda的安装：在自己的电脑上安装两个版本的anaconda
- Jupyter：熟悉Jupyter的基本操作
- Unix bash练习：熟悉bash命令的基本操作
- 举一个现实中将相关当成因果的例子

shell access: https://ipython.org/ipython-doc/3/interactive/reference.html#system-shell-access

reference:https://blog.dominodatalab.com/video-huge-debate-r-vs-python-data-science/