In [1]:
from pandas import read_csv

In [10]:
csv_data=read_csv('FTSE_1984_2012.csv')
csv_data[:4]

         Date    Open    High     Low   Close     Volume  Adj Close
0  2012-02-15  5899.9  5923.8  5880.6  5892.2  801550000     5892.2
1  2012-02-14  5905.7  5920.6  5877.2  5899.9  832567200     5899.9
2  2012-02-13  5852.4  5920.1  5852.4  5905.7  643543000     5905.7
3  2012-02-10  5895.5  5895.5  5839.9  5852.4  948790200     5852.4

In [20]:
csv_data.values

array([['2012-02-15', 5899.9, 5923.8, ..., 5892.2, 801550000, 5892.2],
       ['2012-02-14', 5905.7, 5920.6, ..., 5899.9, 832567200, 5899.9],
       ['2012-02-13', 5852.4, 5920.1, ..., 5905.7, 643543000, 5905.7],
       ...,
       ['1984-04-04', 1095.4, 1095.4, ..., 1095.4, 0, 1095.4],
       ['1984-04-03', 1095.4, 1095.4, ..., 1095.4, 0, 1095.4],
       ['1984-04-02', 1108.1, 1108.1, ..., 1108.1, 0, 1108.1]], dtype=object)