In [55]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"##last

# 2 Data Aggregation

### Data Aggregation

- Aggregations refer to any data transformation that produces scalar values from arrays.

![](http://pbpython.com/images/groupby-example.png)

### Data Aggregation

![](http://oydgk2hgw.bkt.clouddn.com/pydata-book/sugsj.png)

### Data Aggregation

In [56]:
import numpy as np
import pandas as pd

In [57]:
np.random.seed(1234)
df = pd.DataFrame({'key1' : ['a', 'a', 'b', 'b', 'a'],
                   'key2' : ['one', 'two', 'one', 'two', 'one'], 
                   'data1' : np.random.randn(5), 
                   'data2' : np.random.randn(5)})
df

      data1     data2 key1 key2
0  0.471435  0.887163    a  one
1 -1.190976  0.859588    a  two
2  1.432707 -0.636524    b  one
3 -0.312652  0.015696    b  two
4 -0.720589 -2.242685    a  one

In [58]:
grouped = df.groupby('key1')
for name, group in grouped:
    print(name)
    print(group)

a
      data1     data2 key1 key2
0  0.471435  0.887163    a  one
1 -1.190976  0.859588    a  two
4 -0.720589 -2.242685    a  one
b
      data1     data2 key1 key2
2  1.432707 -0.636524    b  one
3 -0.312652  0.015696    b  two

In [59]:
grouped['data1'].quantile(0.9)

key1
a    0.233030
b    1.258171
Name: data1, dtype: float64

In [60]:
def peak_to_peak(arr):
    return arr.max() - arr.min()

In [61]:
grouped.agg(peak_to_peak)

         data1     data2
key1
a     1.662411  3.129848
b     1.745359  0.652220

In [62]:
grouped.describe()

     data1                                                              \
     count      mean       std       min       25%       50%       75%
key1
a      3.0 -0.480043  0.856913 -1.190976 -0.955782 -0.720589 -0.124577
b      2.0  0.560028  1.234155 -0.312652  0.123688  0.560028  0.996367

               data2                                                    \
           max count      mean       std       min       25%       50%
key1
a     0.471435   3.0 -0.165311  1.799111 -2.242685 -0.691548  0.859588
b     1.432707   2.0 -0.310414  0.461189 -0.636524 -0.473469 -0.310414


           75%       max
key1
a     0.873376  0.887163
b    -0.147359  0.015696



### Column-Wise and Multiple Function Application

In [94]:
tips = pd.read_csv('examples/tips.csv')
tips.head()
# Add tip percentage of total bill
tips['tip_pct'] = tips['tip'] / tips['total_bill']
tips[:6]

   total_bill   tip smoker  day    time  size
0       16.99  1.01     No  Sun  Dinner     2
1       10.34  1.66     No  Sun  Dinner     3
2       21.01  3.50     No  Sun  Dinner     3
3       23.68  3.31     No  Sun  Dinner     2
4       24.59  3.61     No  Sun  Dinner     4

   total_bill   tip smoker  day    time  size   tip_pct
0       16.99  1.01     No  Sun  Dinner     2  0.059447
1       10.34  1.66     No  Sun  Dinner     3  0.160542
2       21.01  3.50     No  Sun  Dinner     3  0.166587
3       23.68  3.31     No  Sun  Dinner     2  0.139780
4       24.59  3.61     No  Sun  Dinner     4  0.146808
5       25.29  4.71     No  Sun  Dinner     4  0.186240

In [95]:
grouped = tips.groupby(['day', 'smoker'])
grouped_pct = grouped['tip_pct']
## grouped_2 = grouped[['tip','tip_pct']]

In [96]:
# def peak_to_peak(arr):
#     return arr.max() - arr.min()
grouped_pct.mean()
grouped_pct.agg('mean')
grouped_pct.agg(['mean', 'std', peak_to_peak])

day   smoker
Fri   No        0.151650
      Yes       0.174783
Sat   No        0.158048
      Yes       0.147906
Sun   No        0.160113
      Yes       0.187250
Thur  No        0.160298
      Yes       0.163863
Name: tip_pct, dtype: float64

day   smoker
Fri   No        0.151650
      Yes       0.174783
Sat   No        0.158048
      Yes       0.147906
Sun   No        0.160113
      Yes       0.187250
Thur  No        0.160298
      Yes       0.163863
Name: tip_pct, dtype: float64

                 mean       std  peak_to_peak
day  smoker
Fri  No      0.151650  0.028123      0.067349
     Yes     0.174783  0.051293      0.159925
Sat  No      0.158048  0.039767      0.235193
     Yes     0.147906  0.061375      0.290095
Sun  No      0.160113  0.042347      0.193226
     Yes     0.187250  0.154134      0.644685
Thur No      0.160298  0.038774      0.193350
     Yes     0.163863  0.039389      0.151240

In [90]:
functions = ['count', 'mean', 'max']

In [91]:
result = grouped['tip_pct', 'total_bill'].agg(functions)
result

            tip_pct                     total_bill
              count      mean       max      count       mean    max
day  smoker
Fri  No           4  0.151650  0.187735          4  18.420000  22.75
     Yes         15  0.174783  0.263480         15  16.813333  40.17
Sat  No          45  0.158048  0.291990         45  19.661778  48.33
     Yes         42  0.147906  0.325733         42  21.276667  50.81
Sun  No          57  0.160113  0.252672         57  20.506667  48.17
     Yes         19  0.187250  0.710345         19  24.120000  45.35
Thur No          45  0.160298  0.266312         45  17.113111  41.19
     Yes         17  0.163863  0.241255         17  19.190588  43.11

In [84]:
result['total_bill']

             count       mean    max
day  smoker
Fri  No          4  18.420000  22.75
     Yes        15  16.813333  40.17
Sat  No         45  19.661778  48.33
     Yes        42  21.276667  50.81
Sun  No         57  20.506667  48.17
     Yes        19  24.120000  45.35
Thur No         45  17.113111  41.19
     Yes        17  19.190588  43.11

### Flexible mapping: mean for A and std for B?

In [97]:
grouped_pct.agg([('foo', np.mean), ('bar', 'std')])

                  foo       bar
day  smoker
Fri  No      0.151650  0.028123
     Yes     0.174783  0.051293
Sat  No      0.158048  0.039767
     Yes     0.147906  0.061375
Sun  No      0.160113  0.042347
     Yes     0.187250  0.154134
Thur No      0.160298  0.038774
     Yes     0.163863  0.039389

In [98]:
grouped.agg({'tip': np.max, 'size': 'sum'})

               tip  size
day  smoker
Fri  No       3.50     9
     Yes      4.73    31
Sat  No       9.00   115
     Yes     10.00   104
Sun  No       6.00   167
     Yes      6.50    49
Thur No       6.70   112
     Yes      5.00    40

In [86]:
grouped.agg({'tip_pct': ['min', 'max', 'mean', 'std'],
             'size': 'sum'})

              tip_pct                               size
                  min       max      mean       std  sum
day  smoker
Fri  No      0.120385  0.187735  0.151650  0.028123    9
     Yes     0.103555  0.263480  0.174783  0.051293   31
Sat  No      0.056797  0.291990  0.158048  0.039767  115
     Yes     0.035638  0.325733  0.147906  0.061375  104
Sun  No      0.059447  0.252672  0.160113  0.042347  167
     Yes     0.065660  0.710345  0.187250  0.154134   49
Thur No      0.072961  0.266312  0.160298  0.038774  112
     Yes     0.090014  0.241255  0.163863  0.039389   40

### Remove row indexes

In [87]:
tips.groupby(['day', 'smoker']).mean()

             total_bill       tip      size   tip_pct
day  smoker
Fri  No       18.420000  2.812500  2.250000  0.151650
     Yes      16.813333  2.714000  2.066667  0.174783
Sat  No       19.661778  3.102889  2.555556  0.158048
     Yes      21.276667  2.875476  2.476190  0.147906
Sun  No       20.506667  3.167895  2.929825  0.160113
     Yes      24.120000  3.516842  2.578947  0.187250
Thur No       17.113111  2.673778  2.488889  0.160298
     Yes      19.190588  3.030000  2.352941  0.163863

In [88]:
tips.groupby(['day', 'smoker'], as_index=False).mean()

    day smoker  total_bill       tip      size   tip_pct
0   Fri     No   18.420000  2.812500  2.250000  0.151650
1   Fri    Yes   16.813333  2.714000  2.066667  0.174783
2   Sat     No   19.661778  3.102889  2.555556  0.158048
3   Sat    Yes   21.276667  2.875476  2.476190  0.147906
4   Sun     No   20.506667  3.167895  2.929825  0.160113
5   Sun    Yes   24.120000  3.516842  2.578947  0.187250
6  Thur     No   17.113111  2.673778  2.488889  0.160298
7  Thur    Yes   19.190588  3.030000  2.352941  0.163863